.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
out/*
!out/*.pdf

ProblemSets/3
*.nc
*.ipynb_checkpoints


# Python packaging
dist/
build/
*.egg-info/
*.egg-info

# LaTeX intermediate files
*.aux
*.log
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bak*
notes/**/*.pdf