.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
ProblemSets/2
ProblemSets/3
*.nc
*.ipynb_checkpoints

*.pdf
# Python packaging
dist/
build/
*.egg-info/
*.egg-info

*.aux
*.log
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
notes/**/*.pdf